@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playpen+Sans+Thai:wght@100..800&display=swap" rel="stylesheet">);

body{
    font-family: "manrope", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: violet;
}

#kehadiran{
    background-color: lightcoral;
    padding: 50px;
    width: fit-content;
    margin: auto;
    border-radius: 20px;

input, select{
    border: none;
    border-bottom: 3px solid lightgreen;
    background-color: lightyellow;
    width: 100%;
    padding: 1em;

}

button{
    background-color: lightsalmon;
    color: white;
    border: none;
    padding: 0.5em 1.5em;
    border-radius: 4px;
}
label {
    display: block;
}
}
